.arrow {
  display: none;
}
.banner-container:hover .arrow{
  display: block;
}
.arrow span {
  position: absolute;
  color: #fff;
  width: 30px;
  height: 30px;
  top:50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, .35);
  text-align: center;
  line-height: 30px;
  cursor: pointer;
}
.arrow span:hover {
  background: rgba(0, 0, 0, .7);

}
.left {
  left: 0;
  border-radius: 0 30% 30% 0;
}
.right {
  right: 0;
  border-radius: 30% 0 0 30%;
}